html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /*Background pattern from Subtle Patterns*/
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2, h3 {
    text-align: center;
}

h4 {
    margin: 0;
    padding: 10px;
}

p {
    text-align: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 85%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 3.7rem;
    width: 3.7rem;
    margin: 0.2rem 0.2rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.8;
}

/*
 * Styles for the Score Panel
 */

 .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .stopwatch {
    margin: 0;
    padding: 0;
}

.score-panel .restart {
    cursor: pointer;
}

/*
 * Styles for popup when game is won
 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 25%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #starRating li {
    display: inline-block;
}

/* Smaller screens and phones
****************/
@media (min-width: 425px) {
	.container {
		font-size: 16px;
	}

	.deck {
		width: 330px;
		height: 340px;
	}

	.deck .card {
		height: 62px;
		width: 62px;
	}

    .modal-content {
        width: 80%;
      }
}

/*Larger screens
****************/
@media (min-width: 425px) {
	.container {
		font-size: 16px;
	}

	.deck {
		width: 330px;
		height: 340px;
	}

	.deck .card {
		height: 62px;
		width: 62px;
	}

    .modal-content {
        width: 80%;
      }
}

/* For Tablets and larger screens
****************/
@media (min-width: 768px) {
	.container {
		font-size: 22px;
	}

	.deck {
		width: 660px;
		height: 680px;
	}

	.deck .card {
		height: 125px;
		width: 125px;
	}
}